<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/favicon.ico}">

    <title>AeroIbero</title>

    <!-- Bootstrap core CSS -->
    <link  th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/dist/css/cover.css}" rel="stylesheet">
  </head>

  <body class="text-left">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">AeroIBERO</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="nav-link active">Cerrar Sesión</a>
          <!--a class="nav-link" href="#">Login</a>
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuario</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Reservas</a>
            <a class="dropdown-item" href="#">Mi información</a>
            <a class="dropdown-item" href="#">Cerrar sesión</a>
          </div-->
        </nav>
      </div>
    </header>

    <h3 class="cover-heading" style="margin-bottom: 20px;">Selecciona tu vuelo de ida:</h3>
    <main role="main" class="inner cover" style="border-radius: 10px; padding-top: 10px; padding-bottom: 10px; background-color: #dc143c">
      <h3 class="cover-heading">Mejor elección: Precio </h3>
      <p class="mb-0"><b>Ruta: </b><span th:text="${rutaPrecio}">$$$$</span></p>
      <p class="mb-0"><b>Precio por pasajero:</b> $<span th:text="${totalPasajero}">$$$$</span></p>
      <p class="lead"><b>Total por <span th:text="${cantidad}">$$$</span> pasajeros:</b> $<span th:text="${totalPrecio}">$$$$</span></p>
      <p class="lead">
        <a th:href="@{/registroPago}" class="btn btn-lg btn-secondary">Seleccionar</a>
      </p>
    </main>

    <h3 class="cover-heading" style="margin-top: 20px;">Conoce los datos de las rutas: </h3>
    <main role="main" class="inner cover" style="border-radius: 10px; padding-top: 10px; padding-bottom: 10px; background-color: coral; margin-top:20px;">
      <h3 class="cover-heading">Ruta Por: Distancia</h3>
      <p class="mb-0"><b>Ruta: </b> <span th:text="${rutaDistancia}">$$$$</span></p>
      <p class="lead"><b>Distancia total:</b> <span th:text="${totalDistancia}">$$$$</span> kilometros</p>
    </main>

    <main role="main" class="inner cover" style="border-radius: 10px; padding-top: 10px; padding-bottom: 10px; background-color: coral; margin-top:20px;">
      <h3 class="cover-heading">Ruta Por: Tiempo</h3>
      <p class="mb-0"><b>Ruta: </b><span th:text="${rutaTiempo}">$$$$</span></p>
      <p class="lead"><b>Tiempo total:</b> <span th:text="${totalTiempo}">$$$$</span> horas</p>
    </main>



    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Dev App 2 <a href="https://getbootstrap.com/">TSU Software</a>, by Equipo 1 .</p>
      </div>
    </footer>
  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script th:src="@{//code.jquery.com/jquery-3.2.1.slim.min.js}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<script>window.jQuery || document.write('<script th:src="@{dist/js/jquery-slim.min.js"><\/script>')</script>-->
    <script th:src="@{dist/js/popper.min.js}"></script>
    <script th:src="@{dist/js/bootstrap.min.js}"></script>
  </body>
</html>
