<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>AeroIbero</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>

  <body class="text-left" style="box-shadow: none;">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">AeroIBERO</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Vuelos</a>
            <a class="nav-link" href="#">Login</a>
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuario</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Reservas</a>
              <a class="dropdown-item" href="#">Mi información</a>
              <a class="dropdown-item" href="#">Cerrar sesión</a>
            </div>
          </nav>
        </div>
      </header>
        
      <h3 class="cover-heading" style="margin-bottom: 20px;">Tus pases de abordar:</h3>
      <main role="main" class="inner cover" style="border-radius: 10px; padding-top: 10px; padding-bottom: 10px; background-color: crimson">
        <div class="row">
          <div class="col-8">
        <h5 class="cover-heading">No. de Vuelo: 1212124</h5>
        <p class="mb-0"><b>Aeropuerto: </b>Nombre | <b>Puerta: </b>12</p>
        <p class="mb-0"><b>Hora: </b>4:30pm | <b>Fecha: </b>10/10/2021</p>
        <p class="mb-0"><b>Origen: </b>Ciudad1 | <b>Destino: </b>Ciudad 2</p>
        <p class="mb-0"><b>Avion: </b>NombreAvion | <b>Vuelo: </b>Directo</p>
        <p class="mb-0"><b>Nombre pasajero:</b> Nombre Completo | <b>Asiento:</b> A3</p>
        <p class="mb-0"><b>Raza:</b> Humano | <b>Nacionalidad:</b> Humano</p>
        <p class="lead"><b>Precio del viaje:</b> $1200 | Tiempo: 5 Hrs</p>
        </div>
          <div class="col-4">
              <img class="img-fluid" src="https://latam.kaspersky.com/content/es-mx/images/repository/isc/2020/9910/a-guide-to-qr-codes-and-how-to-scan-qr-codes-2.png" />
          </div>
          </div>
        <p><b>Ruta e itinerario: </b>Ciudad 1 -> Ciudad 2 -> Ciudad 3</p>
          <p class="lead">
          <a href="#" class="btn btn-secondary">Descargar PDF</a> <a href="#" class="btn btn-info">Editar</a> <a href="#" class="btn btn-warning">Cancelar</a>
        </p>
      </main>
        
         <main role="main" class="inner cover" style="border-radius: 10px; padding-top: 10px; padding-bottom: 10px; background-color: crimson; margin-top: 10px">
        <div class="row">
          <div class="col-8">
        <h5 class="cover-heading">No. de Vuelo: 1212124</h5>
        <p class="mb-0"><b>Aeropuerto: </b>Nombre | <b>Puerta: </b>12</p>
        <p class="mb-0"><b>Hora: </b>4:30pm | <b>Fecha: </b>10/10/2021</p>
        <p class="mb-0"><b>Origen: </b>Ciudad1 | <b>Destino: </b>Ciudad 2</p>
        <p class="mb-0"><b>Avion: </b>NombreAvion | <b>Vuelo: </b>Directo</p>
        <p class="mb-0"><b>Nombre pasajero:</b> Nombre Completo | <b>Asiento:</b> A3</p>
        <p class="mb-0"><b>Raza:</b> Humano | <b>Nacionalidad:</b> Humano</p>
        <p class="lead"><b>Precio del viaje:</b> $1200 | Tiempo: 5 Hrs</p>
        </div>
          <div class="col-4">
              <img class="img-fluid" src="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl=?id-boleto&chld=L|1&choe=UTF-8g" />
          </div>
          </div>
        <p><b>Ruta e itinerario: </b>Ciudad 1 -> Ciudad 2 -> Ciudad 3</p>
          <p class="lead">
          <a href="#" class="btn btn-secondary">Descargar PDF</a> <a href="#" class="btn btn-info">Editar</a> <a href="#" class="btn btn-warning">Cancelar</a>
        </p>
      </main>
        
         <main role="main" class="inner cover" style="border-radius: 10px; padding-top: 10px; padding-bottom: 10px; background-color: crimson; margin-top: 10px">
        <div class="row">
          <div class="col-8">
        <h5 class="cover-heading">No. de Vuelo: 1212124</h5>
        <p class="mb-0"><b>Aeropuerto: </b>Nombre | <b>Puerta: </b>12</p>
        <p class="mb-0"><b>Hora: </b>4:30pm | <b>Fecha: </b>10/10/2021</p>
        <p class="mb-0"><b>Origen: </b>Ciudad1 | <b>Destino: </b>Ciudad 2</p>
        <p class="mb-0"><b>Avion: </b>NombreAvion | <b>Vuelo: </b>Directo</p>
        <p class="mb-0"><b>Nombre pasajero:</b> Nombre Completo | <b>Asiento:</b> A3</p>
        <p class="mb-0"><b>Raza:</b> Humano | <b>Nacionalidad:</b> Humano</p>
        <p class="lead"><b>Precio del viaje:</b> $1200 | Tiempo: 5 Hrs</p>
        </div>
          <div class="col-4">
              <img class="img-fluid" src="https://latam.kaspersky.com/content/es-mx/images/repository/isc/2020/9910/a-guide-to-qr-codes-and-how-to-scan-qr-codes-2.png" />
          </div>
          </div>
        <p><b>Ruta e itinerario: </b>Ciudad 1 -> Ciudad 2 -> Ciudad 3</p>
          <p class="lead">
         <a href="#" class="btn btn-secondary">Descargar PDF</a> <a href="#" class="btn btn-info">Editar</a> <a href="#" class="btn btn-warning">Cancelar</a>
        </p>
      </main>
        
        <main role="main" class="inner cover" style="border-radius: 10px; padding-top: 10px; padding-bottom: 10px; background-color: crimson; margin-top: 10px">
        <div class="row">
          <div class="col-8">
        <h5 class="cover-heading">No. de Vuelo: 1212124</h5>
        <p class="mb-0"><b>Aeropuerto: </b>Nombre | <b>Puerta: </b>12</p>
        <p class="mb-0"><b>Hora: </b>4:30pm | <b>Fecha: </b>10/10/2021</p>
        <p class="mb-0"><b>Origen: </b>Ciudad1 | <b>Destino: </b>Ciudad 2</p>
        <p class="mb-0"><b>Avion: </b>NombreAvion | <b>Vuelo: </b>Directo</p>
        <p class="mb-0"><b>Nombre pasajero:</b> Nombre Completo | <b>Asiento:</b> A3</p>
        <p class="mb-0"><b>Raza:</b> Humano | <b>Nacionalidad:</b> Humano</p>
        <p class="lead"><b>Precio del viaje:</b> $1200 | Tiempo: 5 Hrs</p>
        </div>
          <div class="col-4">
              <img class="img-fluid" src="https://latam.kaspersky.com/content/es-mx/images/repository/isc/2020/9910/a-guide-to-qr-codes-and-how-to-scan-qr-codes-2.png" />
          </div>
          </div>
        <p><b>Ruta e itinerario: </b>Ciudad 1 -> Ciudad 2 -> Ciudad 3</p>
          <p class="lead">
         <a href="#" class="btn btn-secondary">Descargar PDF</a> <a href="#" class="btn btn-info">Editar</a> <a href="#" class="btn btn-warning">Cancelar</a>
        </p>
      </main>
        
        
        
     

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Dev App 2 <a href="https://getbootstrap.com/">TSU Software</a>, by Equipo 1 .</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
